.info-section {
    margin-bottom: 10px;
}

.card-body {
    background-color: #17171c;
}

.card-header {
    background-color: #404040;
    background-color: #343a40;
    background-color: #333333;
}