[submodule "submodules/blockchain-listener"]
	path = submodules/blockchain-listener
	url = git@github.com:EHOT-HA-KOHE/blockchain-listener-repo.git
[submodule "submodules/kafka-celery-worker"]
	path = submodules/kafka-celery-worker
	url = git@github.com:EHOT-HA-KOHE/kafka-celery-worker-repo.git
[submodule "submodules/django-app"]
	path = submodules/django-app
	url = git@github.com:EHOT-HA-KOHE/django-app-repo.git
[submodule "submodules/tg-new-pairs-listener"]
	path = submodules/tg-new-pairs-listener
	url = git@github.com:EHOT-HA-KOHE/tg-new-pairs-listener-repo.git
